@font-face {
	font-family: SF Pro Display;
	src: url(../fonts/FontsFree-Net-SFProDisplay-Regular.ttf); 
}
#canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	opacity: 0.2;
	max-width: 100%;
	max-height: 100%;


}

body {
	background: #E5E5E5;
}
a {
	color: #3AB67D !important;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

.navbar-brand  {
  	color: #3AB67D;
  	font-family: impact;
}
.navbar-brand  img{
	width: 8em;
}

.navbar ul {
	flex-direction: row;
}

.navbar ul li{
	margin-left: 3em;
	font-family: SF Pro Display;
}
.navbar #bars {
	background: #DBDBDB;
	padding: 0.5em 0.7em; 
	border-radius: 50%;
}

.wrapper {
	margin-right: 5em;
}

.wrapper a {
	margin: 0 0.3em;
	color: #3AB67D;
}
.wrapper i {
	font-size: 1.3em;
}

.reg_panel {
	width: 60%;
	margin: auto;
	margin-top: 4em;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: white;
    border-radius: 1em;
}


.reg_panel .left {
	padding: 1em;
}

.reg_panel #reg {
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	font-family: SF Pro Display;
	color: #65617B;
}
.reg_panel #sign {
	font-size: 0.8em;
	color: #D2D1DC;
	font-family: SF Pro Display;
}

.reg_panel #input{
	margin-top: 1em;
}
.reg_panel #input input[type=text]{
	margin-top: 1em;
	font-family: SF Pro Display;
	background: #FFFFFF;
	padding: 1em;
	width: 25em;
	font-size: 0.8em;
	border: 1px solid #D2D1DC;
	box-sizing: border-box;
	border-radius: 6px;
}
.reg_panel #input input[type=checkbox]{
	margin-top: 1em;
	margin-right: 1em;
}

.reg_panel #agree{
	color: #65617B;
	font-family: SF Pro Display;
	font-size: 0.9em;
}

.reg_panel #buttons {
	margin-top: 2em;
}
.reg_panel #buttons button:first-child{
	color: #fff;
	background: #3AB67D;
	border: none;
	border-radius: 0.3em;
	padding: 1em 1.5em;
	font-family: SF Pro Display;
	font-size: 0.9em;
	font-weight: bold;
    box-shadow: 0 0 10px rgba(58, 182, 125);
}

.reg_panel #buttons button:last-child{
	color: #8A879D;
	background: #F0F0F0;
	border: none;
	border-radius: 0.3em;
	margin-left: 1em;
	padding: 1em 4.7em;
	font-weight: bold;
	font-family: SF Pro Display;
	font-size: 0.9em;
}

.reg_panel .right {
	display: block;
	width: 100%;
	border-radius: 0 1em 1em 0em;
	background: linear-gradient(0deg, rgba(58, 182, 125, 0.6), rgba(58, 182, 125, 0.6)), url(../img/image.jpg);  
	background-size: cover;
    background-position: center;
	box-shadow: 10px 10px 40px rgba(192, 197, 233, 0.6);
	border-radius: 0 1em 1em 0;
	font-family: SF Pro Display;
	padding: auto;
	color: #fff;
}

.right #text ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-top: 35%;
	margin-left: 25%;
}
.right #text ul span{
	font-size: 1.4em;
	font-weight: bold;
	margin-left: 0.3em;
}
.right #text ul li{
	margin-bottom: 1em;
	font-size: 0.9em;

}
.right #text ul li img{
	filter: invert(1);
	width: 2em;
	vertical-align: middle;
}





